body {
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
header{
  background-color: #efefef;
}

.container {
  background-color: cadetblue;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}